<h1>Seed Data Here</h1>

<a asp-controller="Seed" asp-action="SeedAllGenres" class="btn btn-danger">Seed Genres</a>
<a asp-controller="Seed" asp-action="SeedAllBooks" class="btn btn-success">Seed Books</a>
