<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/9d054c07-fffa-48c2-9a4c-38428454f94f/resourceGroups/MIS333k/providers/Microsoft.Web/sites/sp25TamAllysonHW3</ResourceId>
    <ResourceGroup>MIS333k</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://sp25tamallysonhw3.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://sp25tamallysonhw3.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$sp25TamAllysonHW3</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>